<%- include('partials/header') %>

  <div class="container-fluid">
    <div
      class="row bgimage justify-content-center align-items-center"
      style="height: 100vh;"
    >
      <div class="col-sm-10 text-center">
      <h1 class="display-2 text-capitalize">
         
         <!-- <span class="text-secondary font-italic ">Find New Adventures with</span>-->
          
        </h1>
        </div>
        </div>
        </div>